# Build Directory
build/
install/

# Crypto
crypto/Cargo.lock
crypto/target/
crypto/include/

# GUI
gui/build
gui/install

# Visual Studio
.vs/
out/

# Visual Studio Code
.vscode/

# CLion
.idea/

# Python
__pycache__
