# Build Directory
build/
install/

# Core
build/
install/

# Crypto
Cargo.lock
crypto/target/

# GUI
build/

# Visual Studio
.vs/
out/

# Visual Studio Code
.vscode/

# CLion
.idea/

# Python
__pycache__
