# Build Directory
build/
install/

# Core
core/build/
core/install/

# Crypto
Cargo.lock
crypto/target/

# GUI
gui/build
gui/install

# CLI
core/build/
core/install/

# Visual Studio
.vs/
out/

# Visual Studio Code
.vscode/

# CLion
.idea/

# Python
__pycache__
