[submodule "deps/googletest/googletest-src"]
	path = deps/googletest/googletest-src
	url = https://github.com/google/googletest.git
[submodule "deps/doxygen-awesome-css/doxygen-awesome-css-src"]
	path = deps/doxygen-awesome-css/doxygen-awesome-css-src
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/memcheck-cover/memcheck-cover-src"]
	path = deps/memcheck-cover/memcheck-cover-src
	url = https://github.com/Farigh/memcheck-cover.git
