[submodule "deps/googletest/googletest-src"]
	path = deps/googletest/googletest-src
	shallow = true
	branch = main
[submodule "deps/doxygen-awesome-css/doxygen-awesome-css-src"]
	path = deps/doxygen-awesome-css/doxygen-awesome-css-src
	branch = main
	shallow = true
[submodule "deps/memcheck-cover/memcheck-cover-src"]
	path = deps/memcheck-cover/memcheck-cover-src
	shallow = true
	branch = master
